.modifyDiv{
    margin: 50px;
}

.modifyH2{
    background-color: yellow;
    height: 50px;
    text-align: center;
    width: 1000px;
    margin-left: 85px;
    padding-top: 10px;
}

.modifyContainer{
    height: 450px;
    width: 1000px;
    margin-left: 85px;
    background-color: whitesmoke;
}

.modifyForm{
    padding-top: 25px;
    padding-left: 25px;
}


.modifyInput{
    margin: 20px;
    border:  none;
    outline: none;
    height: 25px;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    background-color: lightgray;
    color: black;

}

.modifySubmit{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    transform: scale(0.9);
    background-color: yellow;
}

.modifySubmit:hover{
    transform: scale(1);
}

.modifyLabel{
    display: flex;
    flex-direction: column;
}

.modifyButton{
    width: 100px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    transform: scale(0.9);
    background-color: rgb(106, 166, 185);
    color: white;

}

.modifyButton:hover{
    transform: scale(1);
}